<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>PyRobot Web UI</title>
    <style type="text/css">
      body { font-size: small; }
      table.sensors {
        border: 0px;
        border-collapse: collapse;
        padding: 0px;
        margin: 0px;
        font-size: 0.7em;
        width: 30em;
      }
      table.sensors tr:hover { background-color: #ddd; }
      table.sensors th { text-align: left; }
      div.logging_pane {
        border: solid 1px black;
        width: 100%;
        height: 240px;
        overflow: auto;
      }
    </style>
    <script type="text/javascript" src="/static/MochiKit/MochiKit.js"></script>
    <script type="text/javascript">
      buildSensorTable = function(obj) {
        var rows = [];
        for (attr in obj) {
          rows.push([attr, obj[attr]]);
        }
        rows.sort(function(a, b) { return ((a[0] < b[0]) ? -1 : 1); });
        row_display = function (row) {
          return TR({'id': row[0]}, map(partial(TD, null), row));
        }
        var newTable = TABLE({'id': 'sensors', 'class': 'sensors'},
          TH({'width': '100'}, 'Sensor'),
          TH(null, 'Value'),
          TBODY(null, map(row_display, rows)));
        return newTable
      }

      updateSensorData = function(last_sensor_data) {
        var d = MochiKit.Async.loadJSONDoc('/sensors');
        d.addCallback(function(r) {
          new_sensor_table = buildSensorTable(r);
          sensor_table = getElement('sensors');
          if (!sensor_table) {
            doc = currentDocument();
            MochiKit.DOM.appendChildNodes(doc.body, new_sensor_table);
          } else {
            MochiKit.DOM.swapDOM(sensor_table, new_sensor_table);
          }
          for (attr in r) {
            if (r[attr] != last_sensor_data[attr]) {
              MochiKit.Visual.Highlight(attr);
            }
          }
          MochiKit.Async.callLater(5, updateSensorData, r);
        });
        d.addErrback(function(e) {
          MochiKit.Async.callLater(5, updateSensorData, {'error': e});
        });
      }

      updateLoggingPane = function() {
        var d = MochiKit.Async.loadJSONDoc('/log');
        d.addCallback(function(r) {
          log('Updating logging pane.')
          new_logging_pane = DIV({'class': 'logging_pane',
              'id': 'logging_pane'}, PRE(null, r.log));
          logging_pane = getElement('logging_pane');
          MochiKit.DOM.swapDOM(logging_pane, new_logging_pane);
          new_logging_pane.scrollTop = new_logging_pane.scrollHeight;
          MochiKit.Async.callLater(5, updateLoggingPane);
        });
        d.addErrback(function(e) {
          MochiKit.Async.callLater(5, updateLoggingPane);
        });
      }
      
      MochiKit.Signal.connect(window, 'onload', updateSensorData);
      MochiKit.Signal.connect(window, 'onload', updateLoggingPane);
    </script>
  </head>
  <body>
    <table width="100%">
      <tr>
        <td width="320">
          <img id="webcam" src="http://damonkohler.dnsalias.net:8081">
        </td>
        <td valign="top" width="100em">
          Power <a href="#"
             onclick="javascript:MochiKit.Async.loadJSONDoc('/robot_on');
               return false;">On</a> /
          <a href="#"
             onclick="javascript:MochiKit.Async.loadJSONDoc('/robot_off');
               return false;">Off</a><br>
          Light <a href="#"
             onclick="javascript:MochiKit.Async.loadJSONDoc('/light_on');
               return false;">On</a> /
          <a href="#"
             onclick="javascript:MochiKit.Async.loadJSONDoc('/light_off');
               return false;">Off</a><br>
          Relay <a href="#"
             onclick="javascript:MochiKit.Async.loadJSONDoc('/relay_on');
               return false;">On</a> /
          <a href="#"
             onclick="javascript:MochiKit.Async.loadJSONDoc('/relay_off');
               return false;">Off</a><br>
          <a href="#"
             onclick="javascript:MochiKit.Async.loadJSONDoc('/restart');
               return false;">Restart</a><br>
          <a href="#"
             onclick="javascript:MochiKit.Async.loadJSONDoc('/soft_reset');
               return false;">Soft Reset</a><br>
          <a href="#"
             onclick="javascript:MochiKit.Async.loadJSONDoc('/safe');
               return false;">Safe</a><br>
          <a href="#"
             onclick="javascript:MochiKit.Async.loadJSONDoc('/full');
               return false;">Full</a><br>
          <a href="#"
             onclick="javascript:MochiKit.Async.loadJSONDoc('/say?msgs=' +
               prompt('What would you like to say?', 'Hello world!'));
               return false;">Talk</a><br>
        </td>
        <td valign="top" rowspan="3">
          <div id="logging_pane" class="logging_pane"></div>
        </td>
      </tr>
      <tr>
        <td align="center">
          <a href="#"
            onclick="javascript:MochiKit.Async.loadJSONDoc('/forward');
              return false;">Forward</a> |
          <a href="#"
             onclick="javascript:MochiKit.Async.loadJSONDoc('/reverse');
               return false;">Reverse</a> |
          <a href="#"
             onclick="javascript:MochiKit.Async.loadJSONDoc('/left');
               return false;">Left</a> |
          <a href="#"
             onclick="javascript:MochiKit.Async.loadJSONDoc('/right');
               return false;">Right</a> |
          <a href="#"
             onclick="javascript:MochiKit.Async.loadJSONDoc('/dock');
               return false;">Dock</a>
         </td>
      </tr>
      <tr><td></td></tr>
    </table>
    <br><br>
  </body>
</html>
