<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>PyRobot Web UI</title>
  </head>
  <body>
    <img src="/static/webcam.png">
    <script language="javascript">
    function reloadImage() {
      var now = new Date();
      if (document.images) {
          document.images.myImageName.src = '/static/webcam.png?' + now.getTime();
      }
      setTimeout('reloadImage()', 1000);
    }
    setTimeout('reloadImage()', 1000);
    </script>
    <br>
    <a href="/forward">Forward</a> |
    <a href="/reverse">Reverse</a> |
    <a href="/left">Left</a> |
    <a href="/right">Right</a>
  </body>
</html>
